@model Character

@if (Model != null)
{
<div class="container-fluid mt-2">
	<div class="row">
		<p class="h3">@Model.Name</p><p class="ms-2 fs-5">@Model.Age</p><p class="ms-1 fs-5">@Model.Gender</p>
	</div>
	<div class="row">
		<ul class="list-group list-group-flush">
			@switch (Model.brawnAtt)
			{
			default:
			case AttributeScore.Neutral: { <li class="list-group-item">Brawn: @Model.brawnAtt.ToString()</li> break; }
			case AttributeScore.Strong: { <li class="list-group-item text-success">Brawn: @Model.brawnAtt.ToString()</li> break; }
			case AttributeScore.Weak: { <li class="list-group-item text-danger">Brawn: @Model.brawnAtt.ToString()</li> break; }
			}
			@switch (Model.finesseAtt)
			{
			default:
			case AttributeScore.Neutral: { <li class="list-group-item">Finesse: @Model.finesseAtt.ToString()</li> break; }
			case AttributeScore.Strong: { <li class="list-group-item text-success">Finesse: @Model.finesseAtt.ToString()</li> break; }
			case AttributeScore.Weak: { <li class="list-group-item text-danger">Finesse: @Model.finesseAtt.ToString()</li> break; }
			}
			@switch (Model.toughAtt)
			{
			default:
			case AttributeScore.Neutral: { <li class="list-group-item">Toughness: @Model.toughAtt.ToString()</li> break; }
			case AttributeScore.Strong: { <li class="list-group-item text-success">Toughness: @Model.toughAtt.ToString()</li> break; }
			case AttributeScore.Weak: { <li class="list-group-item text-danger">Toughness: @Model.toughAtt.ToString()</li> break; }
			}
			@switch (Model.intellectAtt)
			{
			default:
			case AttributeScore.Neutral: { <li class="list-group-item">Intellect: @Model.intellectAtt.ToString()</li> break; }
			case AttributeScore.Strong: { <li class="list-group-item text-success">Intellect: @Model.intellectAtt.ToString()</li> break; }
			case AttributeScore.Weak: { <li class="list-group-item text-danger">Intellect: @Model.intellectAtt.ToString()</li> break; }
			}
			@switch (Model.personAtt)
			{
			default:
			case AttributeScore.Neutral: { <li class="list-group-item">Personality: @Model.personAtt.ToString()</li> break; }
			case AttributeScore.Strong: { <li class="list-group-item text-success">Personality: @Model.personAtt.ToString()</li> break; }
			case AttributeScore.Weak: { <li class="list-group-item text-danger">Personality: @Model.personAtt.ToString()</li> break; }
			}
			@switch (Model.acuityAtt)
			{
			default:
			case AttributeScore.Neutral: { <li class="list-group-item">Acuity: @Model.acuityAtt.ToString()</li> break; }
			case AttributeScore.Strong: { <li class="list-group-item text-success">Acuity: @Model.acuityAtt.ToString()</li> break; }
			case AttributeScore.Weak: { <li class="list-group-item text-danger">Acuity: @Model.acuityAtt.ToString()</li> break; }
			}
		</ul>
	</div>
	<div class="row">
		<p text="muted"><em>@Model.Backstory</em></p>
	</div>
</div>
}
else
{
<div class="container-fluid mt-2 text-center">
	<p class="h3">That's weird. There doesn't seem to be anything here!</p>
</div>
}