@model Character

<div class="container mt-2 text-center">
	@*<form method="post">*@
		<p class="h4">Select A Strong Attribute</p>
		<div class="btn-group" role="group" aria-label="Select a strong attribute.">
			<input type="radio" class="btn-check" name="btnradio0" autocomplete="off" id="bra0" value="Brawn">
			<label class="btn btn-outline-success" for="bra0">Brawn</label>
			<input type="radio" class="btn-check" name="btnradio0" autocomplete="off" id="agi0" value="Finesse">
			<label class="btn btn-outline-success" for="agi0">Finesse</label>
			<input type="radio" class="btn-check" name="btnradio0" autocomplete="off" id="tou0" value="Toughness">
			<label class="btn btn-outline-success" for="tou0">Toughness</label>
			<input type="radio" class="btn-check" name="btnradio0" autocomplete="off" id="int0" value="Intellect">
			<label class="btn btn-outline-success" for="int0">Intellect</label>
			<input type="radio" class="btn-check" name="btnradio0" autocomplete="off" id="per0" value="Personality">
			<label class="btn btn-outline-success" for="per0">Personality</label>
			<input type="radio" class="btn-check" name="btnradio0" autocomplete="off" id="acu0" value="Acuity">
			<label class="btn btn-outline-success" for="acu0">Acuity</label>
		</div>
		<p class="h4">Select A Strong Attribute</p>
		<div class="btn-group" role="group" aria-label="Select a strong attribute.">
			<input type="radio" class="btn-check" name="btnradio1" autocomplete="off" id="bra1" value="Brawn">
			<label class="btn btn-outline-success" for="bra1">Brawn</label>
			<input type="radio" class="btn-check" name="btnradio1" autocomplete="off" id="agi1" value="Finesse">
			<label class="btn btn-outline-success" for="agi1">Finesse</label>
			<input type="radio" class="btn-check" name="btnradio1" autocomplete="off" id="tou1" value="Toughness">
			<label class="btn btn-outline-success" for="tou1">Toughness</label>
			<input type="radio" class="btn-check" name="btnradio1" autocomplete="off" id="int1" value="Intellect">
			<label class="btn btn-outline-success" for="int1">Intellect</label>
			<input type="radio" class="btn-check" name="btnradio1" autocomplete="off" id="per1" value="Personality">
			<label class="btn btn-outline-success" for="per1">Personality</label>
			<input type="radio" class="btn-check" name="btnradio1" autocomplete="off" id="acu1" value="Acuity">
			<label class="btn btn-outline-success" for="acu1">Acuity</label>
		</div>
		<p class="h4">Select A Weak Attribute</p>
		<div class="btn-group" role="group" aria-label="Select a weak attribute.">
			<input type="radio" class="btn-check" name="btnradio2" autocomplete="off" id="bra2" value="Brawn">
			<label class="btn btn-outline-warning" for="bra2">Brawn</label>
			<input type="radio" class="btn-check" name="btnradio2" autocomplete="off" id="agi2" value="Finesse">
			<label class="btn btn-outline-warning" for="agi2">Finesse</label>
			<input type="radio" class="btn-check" name="btnradio2" autocomplete="off" id="tou2" value="Toughness">
			<label class="btn btn-outline-warning" for="tou2">Toughness</label>
			<input type="radio" class="btn-check" name="btnradio2" autocomplete="off" id="int2" value="Intellect">
			<label class="btn btn-outline-warning" for="int2">Intellect</label>
			<input type="radio" class="btn-check" name="btnradio2" autocomplete="off" id="per2" value="Personality">
			<label class="btn btn-outline-warning" for="per2">Personality</label>
			<input type="radio" class="btn-check" name="btnradio2" autocomplete="off" id="acu2" value="Acuity">
			<label class="btn btn-outline-warning" for="acu2">Acuity</label>
		</div>
		<br/>
		@*<button class="mt-2" asp-area="" asp-controller="Character" asp-action="EditAttributes">Submit</button>*@
	@*</form>*@
	
	<p class="text-danger">@TempData["ErrorDisplay"]</p>
@if (Model != null)
{
	<p>Brawn @Model.brawnAtt.Score.ToString()</p>
	<p>Finesse @Model.finesseAtt.Score.ToString()</p>
	<p>Toughness @Model.toughAtt.Score.ToString()</p>
	<p>Intellect @Model.intellectAtt.Score.ToString()</p>
	<p>Personality @Model.personAtt.Score.ToString()</p>
	<p>Acuity @Model.acuityAtt.Score.ToString()</p>
}
</div>